@model MvcAuction.Models.Leilao
@{
    var leilao = Model;
@*
    se inserirmos o objeto como retorno da view da classe controller, é possível usar a anotação razor
    --- 
    ou podemos deixar o retorno vario e inserir o parametro
    ViewData["Leilao"] = leilao; antes do retorno na classe controller
    daí podemos criar a variável das duas maneiras a seguir

    var leilao = (MvcAuction.Models.Leilao)ViewData["Leilao"];
    var leilao = ViewBag.Leilao;  
    *@
}

<a href="@Url.Action("Login", "Account")">Login</a>

<div class="leilao">
    <h3>@leilao.NomeLeilao</h3>

    <div class="details">
        <p>Início: @leilao.TimeStarts.ToString("g")</p>
        <p>Fim: @leilao.TimeEnds.ToString("g")</p>
        <p>Valor Lance inicial: @leilao.PrecoInicial.ToString("C")</p>

        <p class="current-price">
            Preço atual: 
            @if (leilao.PrecoAtual == null)
            {
                @: [Sem lances]
            }
            else
            {
                <span>@leilao.PrecoAtual.Value.ToString("C")</span>
                <span>[@leilao.LanceContador lances]</span>    

            }
        </p>

        <p>
            @using (Html.BeginForm("Lance", "Leilao"))
            {
                var lanceMaisBaixo = leilao.PrecoAtual.GetValueOrDefault(leilao.PrecoInicial) + 1;
            
                <span>Lance: $@Html.TextBox("valor", lanceMaisBaixo)
                      @Html.ValidationMessage("valor")
                </span>
            
                @Html.Hidden("leilaoId", leilao.Id)

                
                @Html.AntiForgeryToken()
                
                
                <input class="post-bid" type="submit" value="Lance" />
            
            }
        </p>



    </div>

    @if (leilao.ImageUrl != null)
    {
        <img src="@leilao.ImageUrl" alt="@leilao.NomeLeilao" />
    }

    <div class="description">
        @leilao.Descricao
    </div>
    <hr />
    <div>
    <span><i>Última atualização da página: @DateTime.Now</i></span>
    </div>
</div>

<script id="current-price-template" type="application/html-template">
<p class="current-price">
    <span>Preço Atual: {{PrecoAtual}}</span>
    <span>[{{LanceContador}} lances já foram enviados.]</span> 
</p>
</script>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.post-bid').on("click", function () {

                var form = $(this).parent("form");

                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize()
                })
                    .success(function (data) {
                        alert("Lance enviado! Atualize a página para novo lance");
                        var template = $('#current-price-template').clone().html();

                        var html = template
                                            .replace('{{PrecoAtual}}', data.CurrentPrice)
                                            .replace('{{LanceContador}}', data.LanceContador);


                        $('.current-price').replaceWith(html)
                    })
                    .error(function () {
                        alert("Lance rejeitado(ducplicidade no envio ou erro na rede)");
                    });

                return false;
            });
        });
    </script>
    }
