@{
    var leilao = (MvcAuction.Models.Leilao)ViewData["Leilao"];
}

<div class="leilao">
    <h3>@leilao.NomeLeilao</h3>

    <div class="details">
        <p>Início: @leilao.TimeStarts</p>
        <p>Fim: @leilao.TimeEnds</p>
        <p>Valor Lance inicial: @leilao.PrecoInicial.ToString("C")</p>
        
        @*
    Comentários xD
    *@

        <p>
            Preço atual: 
            @if(leilao.PrecoAtual == null)
            {
                @: [Sem lances]
            }
            else
            {
                <span>@leilao.PrecoAtual.Value.ToString("C")</span>
            }
        </p>

    </div>

    @if(leilao.ImageUrl != null) 
    {
        <img src="@leilao.ImageUrl" alt="@leilao.NomeLeilao" />
    }

    <div class="description">
        @leilao.Descricao
    </div>




</div>
